html {
  font-size: 62.5%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  border: 0;
}

// height
.min-h-100vh {
  min-height: 100vh;
}

.width-form-login {
  width: 600px;
}

// width
.min-w-100vh {
  min-width: 100vh;
}

// text
.text-12{
  font-size: 0.75rem;
}
.text-14{
  font-size: 0.875rem;
}
.text-16 {
  font-size: 1rem;
}

//border-radius
.rounded-ts-lg {
  border-top-left-radius: 8px;
}

.rounded-te-lg {
  border-top-right-radius: 8px;
}

.rounded-ts-xl {
  border-top-left-radius: 24px;
}

.rounded-te-xl {
  border-top-right-radius: 24px;
}

//input
.form-input:focus-visible{
  border-block-end-width: 1px !important;
    border-block-end-style: solid !important;
    border-block-end-color: #AA00FF !important;
  outline: none;
}